
<!-- 全局js -->
<script src="${ctxPath}/js/jquery.min.js?v=2.1.4"></script>
<script src="${ctxPath}/js/bootstrap.min.js?v=3.3.6"></script>
<!-- 侧边栏插件 -->
<script src="${ctxPath}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<!-- 滚动条插件 -->
<script src="${ctxPath}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="${ctxPath}/js/plugins/layui/layui.js?v=2.4.5"></script>

<!-- 自定义js -->
<script src="${ctxPath}/js/hplus.js?v=4.1.0" type="text/javascript"></script>
<script src="${ctxPath}/js/contabs.js" type="text/javascript"></script>
<script src="${ctxPath}/js/content.js?v=1.0.0"></script>
<!-- 第三方插件 加载网页进度条-->
<script src="${ctxPath}/js/plugins/pace/pace.min.js"></script>
<script src="${ctxPath}/js/common.js"></script>