<!--footer-->
<div style="height:3.125rem;"></div>
<nav class="mainNav fixed">
    <ul>
        <li>
            <a href="index.html">
                <i class="icon-home"></i><span>home</span>
            </a>
        </li>
        <li class="cur">
            <a href="shop.html">
                <i class="icon-shop"></i>
                <span>shop</span>
            </a>
        </li>
        <li>
            <a href="me.html">
                <i class="icon-me"></i>
                <span>me</span>
            </a>
        </li>
    </ul>
</nav>