<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <typeAlias type="java.lang.Integer" alias="int"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.ken.mall.pojo.base.PairsEnumTypeHandler"
                     javaType="com.ken.mall.pojo.base.PairsEnum"/>
    </typeHandlers>
</configuration>