<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content=" " />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>活动详情</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="../../../static/js/index.js"></script>
</head>

<body>
  <div class="header">
        <a class="idx_back"></a>
        <span>活动详情</span>
  </div>
  <div class="center">
  		<div class="prolistContain">
                <span class="prolist_tmb"><a href=""><img src="../images/pic/pic1.jpg" alt=""></a></span>
                <span class="prolist_info">
                    <strong class="prolist_title">雅诗兰黛全新金管口红</strong>
                    <span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>
                    <span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>
                    <span class="prolist_title"><span class="prolist_summary">参与条件：</span><span class="prolist_factor">1个芝麻/次，限2次/位</span></span>
                </span>
          </div>
          <div class="activity">
          		<div class="activity_timer">结束时间：2020年1月1日 18:30:00</div>
                <div><span class="col_orange">幸运儿：186****9876</span><span class="ml_15">领奖中</span></div>
          </div>
  </div>
</body>
</html>
