<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content=" " />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>me</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="../../../static/js/index.js"></script>
</head>

<body>
	<div class="userhead">
    	<dl>
        	<dt><img width="60" src="../images/pic/user.jpg"/></dt>
            <dd>
            	<div class="user_phone">13510578230</div>
                <div class="user_branch">芝麻分：98</div>
            </dd>
        </dl>
    </div>
    <div class="table">
    	<div>
        	<div>
            	<a class="a_icon bg_icon1">个人设置</a>
            </div>
            <div>
            	<a class="a_icon bg_icon2">芝麻购物</a>
            </div>
            <div>
            	<a class="a_icon bg_icon3">芝麻充值</a>
            </div>
        </div>
        <div>
        	<div>
            	<a class="a_icon bg_icon4">我的参与</a>
            </div>
            <div>
            	<a class="a_icon bg_icon5">邀请好友</a>
            </div>
            <div>
            	<a class="a_icon bg_icon6">积攒芝麻</a>
            </div>
        </div>
    </div>
    <!-- banner -->
  <div style="height:3.125rem;"></div>
  <nav class="mainNav fixed">
     <ul>
          <li>
              <a href="../index.html">
                  <i class="icon-home"></i><span>home</span>
              </a>
            </li>
            <li class="cur">
                <a href="../shop/shop.html">
                  <i class="icon-shop"></i>
                  <span>shop</span>
                </a>
            </li>
            <li>
              <a href="../user/me.html">
                  <i class="icon-me"></i>
                  <span>me</span>
              </a>
            </li>
        </ul>
     </nav>
<script type="text/javascript">

</script>
</body>
</html>
