<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content=" " />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>registered</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="../../../static/js/index.js"></script>
</head>

<body>
    <img width="100%" src="../images/pic/shareimg1.png"/>
    <div class="register">
        <div class="registertips">
            <div class="registertip"> 您的好友：<span class="col_green registernum">138****4583</span>邀请您一起参与芝麻购物</div>
        </div>
        <div class="registerdiv">
            <form>
                <div class="table">
                    <div>
                        <label>手机号码：</label>
                        <div><input placeholder="请输入手机号" type="text" value=""/></div>
                    </div>
                    <div>
                        <label>登录密码：</label>
                        <div><input placeholder="请输入密码" type="password" value=""/></div>
                    </div>
                </div>
            </form>
            <div>
                <a href="../index.html"><input class="btns" type="button" value="登录"/></a>
                <a class="download">下载APP</a>
            </div>
        </div>
    </div>

</body>
</html>
