<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content=" " />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>me</title>
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/public.css" />
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body>
	<div class="userhead">
        <%if(has(member)) {%>
    	<dl>
        	<dt><img width="60" src="${ctxPath}/images/pic/user.jpg"/></dt>
            <dd>
            	<div class="user_phone">13510578230</div>
                <div class="user_branch">芝麻分：98</div>
            </dd>
        </dl>
        <%}else{%>
        <dl>
            <dt><img width="60" src="${ctxPath}/images/pic/user.jpg"/></dt>
            <dd>
                <div class="user_phone">Welcome to Sesame</div>
                <div class="user_branchs"><a href="${ctxPath}/mall/login">登录</a>/<a href="${ctxPath}/mall/login">注册</a></div>
            </dd>
        </dl>
        <%}%>
    </div>
    <div class="table">
    	<div>
        	<div>
            	<a class="a_icon bg_icon1" a href="${ctxPath}/mall/user/setting">个人设置</a>
            </div>
            <div>
            	<a class="a_icon bg_icon2" a href="${ctxPath}/mall/user/sesame">芝麻购物</a>
            </div>
            <div>
            	<a class="a_icon bg_icon3" id="paypal-button">芝麻充值</a>
            </div>
        </div>
        <div>
        	<div>
            	<a class="a_icon bg_icon4" a href="${ctxPath}/mall/user/setting">我的参与</a>
            </div>
            <div>
            	<a class="a_icon bg_icon5">邀请好友</a>
            </div>
            <div>
            	<a class="a_icon bg_icon6">积攒芝麻</a>
            </div>
        </div>
    </div>
    <%include("../inc/footer.html"){}%>
    <script type="text/javascript" src="${ctxPath}/js/jquery.min.js"></script>
    <script type="text/javascript" src="${ctxPath}/js/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="${ctxPath}/js/index.js"></script>
    <script type="text/javascript">
        paypal.Button.render({
            locale: 'zh_CN', // or en_US
            env: 'sandbox', // or sandbox

            commit: true, // Show a 'Pay Now' button
            client: {
                sandbox:    'ATwgITKKbXKiGcvZtSc6RYPmTHr1L7StTnEmGAJ0BA0tAz_kvgOn0dtK2pWKyRSp0wzhENo5Y1Nhn230'
            },
            style: {
                size: 'small',
                color: 'silver',
                shape: 'pill',
                label: 'checkout',
                tagline: false
            },

            payment: function(data, actions) {
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '填入金额', currency: 'USD' }
                            }
                        ]
                    }
                });
            },

            onAuthorize: function(data, actions) {
                return actions.payment.execute().then(function(payment) {
                    $.ajax({
                        type: 'POST',
                        url: '/',
                        data: {}
                    }).done(function (data) {
                        if (data == '0') {
                            alert('The payment is complete!');
                            window.location.reload();
                        }else {
                            alert('pay fail')
                        }
                    })
                });
            },

            onCancel: function(data, actions) {
                /*
                 * Buyer cancelled the payment
                 */
            },

            onError: function(err) {
                /*
                * An error occurred during the transaction
                */
            }
        }, '#paypal-button');
    </script>
</body>
</html>
