<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>后台管理系统 - 首页</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="import" href="${ctxPath}/page/header.html?__inline">
</head>

<body class="gray-bg animated fadeInRight">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>今日销量</h5>
	                    <div class="ibox-tools">
	                        <a class="collapse-link">
	                            <i class="fa fa-chevron-up"></i>
	                        </a>
	                        <a class="close-link">
	                            <i class="fa fa-times"></i>
	                        </a>
	                    </div>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">${todayTotal.total!0}</h1>
                        <small>售卡次数：${todayTotal.times!0}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>昨日销量</h5>
	                    <div class="ibox-tools">
	                        <a class="collapse-link">
	                            <i class="fa fa-chevron-up"></i>
	                        </a>
	                        <a class="close-link">
	                            <i class="fa fa-times"></i>
	                        </a>
	                    </div>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">${yestodayTotal.total!0}</h1>
                        <small>售卡次数：${yestodayTotal.times!0}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>当月销量</h5>
	                    <div class="ibox-tools">
	                        <a class="collapse-link">
	                            <i class="fa fa-chevron-up"></i>
	                        </a>
	                        <a class="close-link">
	                            <i class="fa fa-times"></i>
	                        </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">${monthTotal.total!0}</h1>
                        <small>售卡次数：${monthTotal.times!0}</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>总销量</h5>
	                    <div class="ibox-tools">
	                        <a class="collapse-link">
	                            <i class="fa fa-chevron-up"></i>
	                        </a>
	                        <a class="close-link">
	                            <i class="fa fa-times"></i>
	                        </a>
	                    </div>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">${total.total!0}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>销量统计</h5>
                        <div class="ibox-tools">
	                        <a class="collapse-link">
	                            <i class="fa fa-chevron-up"></i>
	                        </a>
	                        <a class="close-link">
	                            <i class="fa fa-times"></i>
	                        </a>
	                    </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button id="day" type="button" class="btn btn-xs btn-white active">天</button>
                                <button id="month" type="button" class="btn btn-xs btn-white">月</button>
                                <button id="year" type="button" class="btn btn-xs btn-white">年</button>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-line-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script src="${ctxPath}/js/echarts.min.js"></script>

	<script>
		$(function () {
		    lineChart = echarts.init(document.getElementById("echarts-line-chart"));
		    var lineoption = {
		        tooltip : {
		            trigger: 'axis'
		        },
		        legend: {
		            data:['销售总量','售卡次数']
		        },
		        grid:{
		            x:40,
		            x2:40,
		            y2:24
		        },
		        calculable : true,
		        xAxis : [
		            {
		                type : 'category',
		                boundaryGap : false,
		                data : []
		            }
		        ],
		        yAxis : {},
		        series : [
		            {
		                name:'销售总量',
		                type:'line',
		                data:[],
		                markPoint : {
		                    data : [
		                        {type : 'max', name: '最大值'},
		                        {type : 'min', name: '最小值'}
		                    ]
		                },
		                markLine : {
		                    data : [
		                        {type : 'average', name: '平均值'}
		                    ]
		                }
		            },
		            {
		                name:'售卡次数',
		                type:'line',
		                data:[],
		                markPoint : {
		                    data : [
		                        {type : 'max', name: '最大值'},
		                        {type : 'min', name: '最小值'}
		                    ]
		                },
		                markLine : {
		                    data : [
		                        {type : 'average', name : '平均值'}
		                    ]
		                }
		            }
		        ]
		    };
		    lineChart.setOption(lineoption);
		    $(window).resize(lineChart.resize);
		});
	</script>

</body>

</html>
