<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content=" " />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>我参与的</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="../../../static/js/index.js"></script>
</head>

<body>
  <div class="header">
  		<a class="idx_back" href="../index.html"></a>
        <span>我的参与</span>
  </div>
   <!-- idx_main -->
  <section>
    <div class="idx_main">
      <ul class="productList part">
           <li>
           	  <i class="part_state">结束</i>
              <div class="prolistContain">
                    <span class="prolist_tmb"><a href=""><img src="../images/pic/pic1.jpg" alt=""></a></span>
                    <span class="prolist_info">
                        <strong class="prolist_title col_balck">雅诗兰黛全新金管口红</strong>
                        <span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>
                        <span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>
                        <span class="prolist_title"><span class="prolist_summary">参与条件：</span><span class="prolist_factor">1个芝麻/次，限2次/位</span></span>
                    </span>
              </div>
              <div class="partin">
              		<div class="partinbtn">
                    	<a>查看明细</a>
                        <a class="yellow">已获奖</a>
                    </div>
                    <p>确认收货地址和商品规格，收宝贝</p>
              </div>
          </li>
          <li>
          	  <i class="part_state">结束</i>
              <div class="prolistContain">
                    <span class="prolist_tmb"><a href=""><img src="../images/pic/pic1.jpg" alt=""></a></span>
                    <span class="prolist_info">
                        <strong class="prolist_title col_balck">雅诗兰黛全新金管口红</strong>
                        <span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>
                        <span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>
                        <span class="prolist_title"><span class="prolist_summary">参与条件：</span><span class="prolist_factor">1个芝麻/次，限2次/位</span></span>
                    </span>
              </div>
              <div class="partin">
              		<div class="partinbtn">
                    	<a>查看明细</a>
                        <a class="yellow">去评价<i class="errow"></i></a>
                    </div>
                    <p>收到宝贝后提交照片可获得芝麻</p>
              </div>
          </li>
          <li>
          	  <i class="part_state">结束</i>
              <div class="prolistContain">
                    <span class="prolist_tmb"><a href=""><img src="../images/pic/pic1.jpg" alt=""></a></span>
                    <span class="prolist_info">
                        <strong class="prolist_title col_balck">雅诗兰黛全新金管口红</strong>
                        <span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>
                        <span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>
                        <span class="prolist_title"><span class="prolist_summary">参与条件：</span><span class="prolist_factor">1个芝麻/次，限2次/位</span></span>
                    </span>
              </div>
              <div class="partin">
              		<div class="partinbtn">
                    	<a>查看明细</a>
                        <a class="green">发货中</a>
                    </div>
                    <p>中通快递：7362549837625</p>
              </div>
          </li>
          <li>
          	  <i class="part_state">结束</i>
              <div class="prolistContain">
                    <span class="prolist_tmb"><a href=""><img src="../images/pic/pic1.jpg" alt=""></a></span>
                    <span class="prolist_info">
                        <strong class="prolist_title col_balck">雅诗兰黛全新金管口红</strong>
                        <span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>
                        <span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>
                        <span class="prolist_title"><span class="prolist_summary">参与条件：</span><span class="prolist_factor">1个芝麻/次，限2次/位</span></span>
                    </span>
              </div>
              <div class="partin">
              		<div class="partinbtn">
                    	<a>查看明细</a>
                        <a class="grey">未获奖</a>
                    </div>
                    <p>再接再厉，预祝下次中奖</p>
              </div>
          </li>
          <li>
          	  <i class="part_stating">进行</i>
              <div class="prolistContain">
                    <span class="prolist_tmb"><a href=""><img src="../images/pic/pic1.jpg" alt=""></a></span>
                    <span class="prolist_info">
                        <strong class="prolist_title col_balck">雅诗兰黛全新金管口红</strong>
                        <span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>
                        <span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>
                        <span class="prolist_title"><span class="prolist_summary">参与条件：</span><span class="prolist_factor">1个芝麻/次，限2次/位</span></span>
                    </span>
              </div>
              <div class="partin">
              		<div class="partinbtn">
                    	<a>查看明细</a>
                        <a class="yellow">已参与</a>
                    </div>
                    <p>再接再厉，预祝下次中奖</p>
              </div>
          </li>
      </ul>
    </div>
  </section>
  <!--footer-->
  <div style="height:3.125rem;"></div>
  <nav class="mainNav fixed">
     <ul>
          <li>
              <a href="../index.html">
                  <i class="icon-home"></i><span>home</span>
              </a>
            </li>
            <li class="cur">
                <a href="../shop1/shop.html">
                  <i class="icon-shop"></i>
                  <span>shop</span>
                </a>
            </li>
            <li>
              <a href="../user1/me.html">
                  <i class="icon-me"></i>
                  <span>me</span>
              </a>
            </li>
        </ul>
     </nav>
<script type="text/javascript">

</script>
</body>
</html>
