<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content=" " />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>确认订单</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/css/public.css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="../../../static/js/index.js"></script>
</head>

<body>
  <div class="header">
  		<a class="idx_back"></a>
        <span>确认订单</span>
  </div>
  <!-- banner -->
  <section>
    <div class="myorder">
    	<a>
            <div class="myordernum"><img src="../images/address.png"/>小米粥13510872063</div>
            <div class="myorderlist">浙江省杭州市西湖区凤起东路137号凤起广场A座</div>
        </a>
    </div>
    <div class="caption">
    	<span class="btn">确认订单</span>
    </div>
  </section>
  <!-- banner -->
  <div style="height:3.125rem;"></div>
  <nav class="mainNav fixed">
     <ul>
          <li>
              <a href="../index.html">
                  <i class="icon-home"></i><span>home</span>
              </a>
            </li>
            <li class="cur">
                <a href="../shop/shop.html">
                  <i class="icon-shop"></i>
                  <span>shop</span>
                </a>
            </li>
            <li>
              <a href="../user/me.html">
                  <i class="icon-me"></i>
                  <span>me</span>
              </a>
            </li>
        </ul>
     </nav>
<script type="text/javascript">

</script>
</body>
</html>
