<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content=" " />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>集攒芝麻</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/public.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
</head>

<body>
    <div class="header">
  		<a class="idx_back"></a>
        <span>集攒芝麻</span>
    </div>
    <!-- banner -->
    <div class="collect">
    	<div class="collecthead">
        	<span>集攒名称</span>
            <span>集攒芝麻</span>
        </div>
        <div class="collectcon">
        	<dl>
            	<dd>
                    <div>KH001提交照片</div>
                    <div class="col_grey fz_12 mt">2017-04-23 16:30:13</div>	
                </dd>
                <dt class="col_orange">获得1个芝麻</dt>
            </dl>
            <dl>
            	<dd>
                    <div>邀请好友18688999876</div>
                    <div class="col_grey fz_12">2017-04-23 16:30:13</div>	
                </dd>
                <dt class="col_orange">获得1个芝麻</dt>
            </dl>
            <dl>
            	<dd>
                    <div>KH001提交照片</div>
                    <div class="col_grey fz_12">2017-04-23 16:30:13</div>	
                </dd>
                <dt class="col_orange">获得1个芝麻</dt>
            </dl>
            <dl>
            	<dd>
                    <div>邀请好友18688999876</div>
                    <div class="col_grey fz_12">2017-04-23 16:30:13</div>	
                </dd>
                <dt class="col_orange">获得1个芝麻</dt>
            </dl>
        </div>
    </div>
    
  
<script type="text/javascript">
</script>
</body>
</html>
