<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content=" " />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>产品详情</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/public.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
</head>

<body>
  <div class="header">
  		<a href="shop.html" class="idx_back"></a>
        <span>PRODUCT</span>
  </div>
   <!-- banner -->
  <section>
    <div class="banner">
          <div class="swiper-container">
                <div class="swiper-wrapper">
                      <div class="swiper-slide"><img src="images/goods/goods1.jpg"/></div>
                      <div class="swiper-slide"><img src="images/goods/goods1.jpg"/></div>
                      <div class="swiper-slide"><img src="images/goods/goods1.jpg"/></div>
                </div>
          </div>
          <div class="pagination"></div>
    </div>
    <div class="goods">
            <span class="prolist_info">
                <strong class="prolist_title">雅诗兰黛全新金管口红</strong>
                <span class="prolist_title"><span class="prolist_price">RP200</span></span>
                <span class="prolist_title"><span class="prolist_originalprice">20</span></span>
            </span>
            <div class="goods_specs">
                <div>规格</div>
                <div class="captions">
                    <a class="curt">外光红色</a>
                    <a>外光黑色</a>
                    <a>外光紫色</a>
                    <a>外光红色</a>
                </div>
            </div>
        	<div class="goods_P">
            	<div class="goods_P_title"><span></span>商品详情<span></span></div>
            	<div class="mt_10"><img width="100%" src="images/goods/goodslist.jpg"/></div>
            </div>
    </div>
  </section>
  <!-- banner -->

<script type="text/javascript">
	$('.captions a').click(function(){
		$('.captions a').removeClass('curt');
		$(this).addClass('curt');
	});
</script>
</body>
</html>
