<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content=" " />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>首页</title>
    <link rel="stylesheet" type="text/css" href="${ctxPath}/js/plugins/layui/css/layui.mobile.css" />
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/public.css" />
</head>

<body>
  <div class="header">
        <span>HOME</span>
        <a href="javascript:show_pop();" class="idx_shop share"></a>
  </div>
  <!-- banner -->
  <section>
    <div class="banner">
          <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="${ctxPath}/images/pic/banner1.png"/> </div>
                    <div class="swiper-slide"><img src="${ctxPath}/images/pic/banner1.png"/></div>
                    <%for(ad in ads){%>
                    <div class="swiper-slide"><img src="${ad.url!}"/></div>
                    <%}%>
                </div>
          </div>
          <div class="pagination"></div>
    </div>
  </section>
  <!-- banner -->
  <div class="iconbtn">
  		<ul>
        	<li>
                <a>
                    <i><img src="${ctxPath}/images/rob.png"/></i>
                    <span>芝麻抢购</span>
                </a>
            </li>
            <li>
                <a>
                    <i><img src="${ctxPath}/images/lucky.png"/></i>
                    <span>最新幸运儿</span>
                </a>
            </li>
        </ul>
  </div>
  <!--content-->
  
  <!-- idx_main -->
  <section>
        <div class="idx_main" style="display:block;">
              <ul class="productList">
                   <li>
                      <div class="prolistContain">
                            <span class="prolist_tmb"><a href=""><img src="${ctxPath}/images/pic/pic1.jpg" alt=""></a></span>
                            <span class="prolist_info">
                                <strong class="prolist_title">雅诗兰黛全新金管口红</strong>
                                <span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>
                                <span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>
                                <span class="prolist_title"><span class="prolist_summary">参与条件：</span><span class="prolist_factor">1个芝麻/次，限2次/位 共需要80位参与</span></span>
                            </span>
                      </div>
                      <div class="prolistbottom">
                           <div class="capacity">
                                <div>距离幸运儿产生：55位</div>
                                <div class="container_s">
                                    <div id="bar" style="width:50%;display: inline-block; background:#F38646; float:left; height:100%;border-radius:10px;"></div>
                                </div>
                           </div>
                           <a class="looklist">我要参与</a>
                      </div>
                  </li>
                  <li>
                      <div class="prolistContain">
                            <span class="prolist_tmb"><a href=""><img src="${ctxPath}/images/pic/pic1.jpg" alt=""></a></span>
                            <span class="prolist_info">
                                <strong class="prolist_title">雅诗兰黛全新金管口红</strong>
                                <span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>
                                <span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>
                                <span class="prolist_title"><span class="prolist_summary">参与条件：</span><span class="prolist_factor">1个芝麻/次，限2次/位 共需要80位参与</span></span>
                            </span>
                      </div>
                      <div class="prolistbottom">
                           <div class="capacity">
                                <div>距离幸运儿产生：55位</div>
                                <div class="container_s">
                                    <div id="bar" style="width:50%;display: inline-block; background:#F38646; float:left; height:100%;border-radius:10px;"></div>
                                </div>
                           </div>
                           <a class="mynum">我的编号</a>
                      </div>
                  </li>
              </ul>
        </div>
        <div class="idx_main">
        	  <div class="tip">温馨提示：【个人用户请在‘我的参与’查询领奖】</div>
              <ul class="productList">
                   <li>
                      <div class="prolistContain">
                            <span class="prolist_tmb"><a href=""><img src="${ctxPath}/images/pic/pic1.jpg" alt=""></a></span>
                            <span class="prolist_info">
                                <strong class="prolist_title">雅诗兰黛全新金管口红</strong>
                                <span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>
                                <span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>
                                <span class="prolist_title"><span class="prolist_summary">参与条件：</span><span class="prolist_factor">1个芝麻/次，限2次/位 共需要80位参与</span></span>
                            </span>
                      </div>
                      <div class="prolistbottom">
                           <div>开奖时间：2020-01-02 18:00:00</div>
                           <div>幸运儿：135****2136</div>
                           <a>查看详情</a>
                      </div>
                  </li>
                  <li>
                      <div class="prolistContain">
                            <span class="prolist_tmb"><a href=""><img src="${ctxPath}/images/pic/pic1.jpg" alt=""></a></span>
                            <span class="prolist_info">
                                <strong class="prolist_title">雅诗兰黛全新金管口红</strong>
                                <span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>
                                <span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>
                                <span class="prolist_title"><span class="prolist_summary">参与条件：</span><span class="prolist_factor">1个芝麻/次，限2次/位 共需要80位参与</span></span>
                            </span>
                      </div>
                      <div class="prolistbottom">
                           <div>开奖时间：2020-01-02 18:00:00</div>
                           <div>幸运儿：135****2136</div>
                           <a>查看详情</a>
                      </div>
                  </li>
              </ul>
        </div>
  </section>
  <%include("inc/footer.html"){}%>
  <!--nav-->
  <!-- 弹出层 -->
  <div class="sharebox" style="display:none;">
      <div class="shareboximg">
          分享领芝麻
      </div>
      <div class="close"><img src="${ctxPath}/images/public/close.png"/></div>
  </div>
  <div class="layer" style="display:none;"></div>
     <!-- 弹出层 -->

  <script type="text/javascript" src="${ctxPath}/js/jquery.min.js"></script>
  <script type="text/javascript" src="${ctxPath}/js/idangerous.swiper-2.1.min.js"></script>
  <script type="text/javascript" src="${ctxPath}/js/index.js"></script>
  <script type="text/javascript" src="${ctxPath}/js/plugins/layer/mobile/layer.js"></script>
  <script type="text/javascript" src="${ctxPath}/js/plugins/layui/layui.js"></script>
<script type="text/javascript">
    $(window).resize(function () {
        setlayer();
    });

    function setlayer() {
        var bh = $('body').height();
        $('.layer').css({
            'height': bh
        });
    };
    //弹出层控制
    //show_pop();
    $('.share').click(function () {
        show_pop();
    });
    $('.close').click(function () {
        hide_pop();
    });

    function hide_pop() {
        $('.layer').hide();
        $('.sharebox').hide();
    };

    function show_pop() {
        setlayer();
        $('.layer').show();
        $('.sharebox').show();
    };
    $(function () {
        console.log("ads", ${ads.~size!});
        $(".iconbtn li").each(function (index) {
            $(this).click(function (e) {
                $(".idx_main").eq(index).show().siblings(".idx_main").hide();
            })
        });
    });
    $(document).ready(function () {
        //进度条
        var tips = 1500;
        var tips_1 = (tips / 5000) * 100 + '%';

        function run() {
            if (tips_1 == 0) {
                return false;
            }
            ;
            var bar = document.getElementById("bar");
            bar.style.width = parseInt(bar.style.width) + 1 + "%";
            if (bar.style.width == tips_1) {
                window.clearTimeout(timeout);
                return;
            }
            ;
            var timeout = window.setTimeout("run()", 10);
            if (tips_1 >= 100) {
                tips_1 = '100%';
            }
            ;
        };
        //run();
    });
    //滚动加载内容
    /*$(window).scroll(function () {
        // 当滚动到最底部以上100像素时， 加载新内容
        if ($(document).height() - $(this).scrollTop() - $(this).height() < 550) show();
    });*/
    //芝麻抢购内容加载
    function showone() {
        $.ajax({
            type: 'post',
            url: '',
            data: {},
            beforeSend: function () {
                layer.msg('数据正在加载中...', {time: 0,})
            },
            success: function (data) {
                layer.closeAll();
                var datas = JSON.parse(data);
                var itemsSize = datas;
                for (i = 0; i < itemsSize.length; i++) {
                    $('.productList').append('<li>'
                        + '<div class="prolistContain">'
                        + '<span class="prolist_tmb"><a href=""><img src="${ctxPath}/${ctxPath}/images/pic/pic1.jpg" alt=""></a></span>'
                        + '<span class="prolist_info">'
                        + '<strong class="prolist_title">雅诗兰黛全新金管口红</strong>'
                        + '<span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>'
                        + '<span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>'
                        + '<span class="prolist_title"><span class="prolist_summary">参与条件：</span>'
                        + '<span class="prolist_factor">1个芝麻/次，限2次/位 共需要80位参与</span>'
                        + '</span></span></div>'
                        + '<div class="prolistbottom">'
                        + '<div>开奖时间：2020-01-02 18:00:00</div>'
                        + '<div>幸运儿：135****2136</div>'
                        + '<a>查看详情</a>'
                        + '</div>'
                        + '</li>');
                }
                ;
            }, error: function (jqXHR) {
                layer.msg("发生错误：" + jqXHR.data);
            }
        });
    };
    //showone();
    //最新幸运儿数据添加
    function showtwo() {
        $.ajax({
            type: 'post',
            url: '',
            data: {},
            beforeSend: function () {
                layer.msg('数据正在加载中...', {time: 0,})
            },
            success: function (data) {
                layer.closeAll();
                var datas = JSON.parse(data);
                var itemsSize = datas;
                for (i = 0; i < itemsSize.length; i++) {
                    $('.productList').append('<li>'
                        + '<div class="prolistContain">'
                        + '<span class="prolist_tmb"><a href=""><img src="${ctxPath}/${ctxPath}/images/pic/pic1.jpg" alt=""></a></span>'
                        + '<span class="prolist_info">'
                        + '<strong class="prolist_title">雅诗兰黛全新金管口红</strong>'
                        + '<span class="prolist_title"><span class="prolist_price">RP200</span><span class="prolist_originalprice">20</span></span>'
                        + '<span class="prolist_title"><span class="prolist_summary">活动编码：</span><span class="prolist_summary">KH0001</span></span>'
                        + '<span class="prolist_title"><span class="prolist_summary">参与条件：</span>'
                        + '<span class="prolist_factor">1个芝麻/次，限2次/位 共需要80位参与</span>'
                        + '</span></span></div>'
                        + '<div class="prolistbottom">'
                        + '<div>开奖时间：2020-01-02 18:00:00</div>'
                        + '<div>幸运儿：135****2136</div>'
                        + '<a>查看详情</a>'
                        + '</div>'
                        + '</li>');
                }
                ;
            }, error: function (jqXHR) {
                layer.msg("发生错误：" + jqXHR.data);
            }
        });
    };
    //showtwo();
    //我要参加弹出窗
    $('.looklist').on('click', function () {
        var form = layui.form;
        layer.open({
            type: 1,
            content: ('<div class="participatediv layui-form-item">'
            + '<div class="caption">'
                + '<input class="btn col_grey cancel cancel_par" type="button" value="取消"/>'
                + '<input class="btn fr col_green confirm_par" type="button" value="确定"/>'
                + '</div>'
                + '<div class="col_grey">1芝麻/次</div>'
                + '<div class="col_grey">参与：</div>'
                + '<div class="layui-input-block"><select class="select_par">'
                + '<option>1次</option>'
                + '<option>2次</option>'
                + '</select></div></div>'),
            style: 'background-color:#fff; opacity: 1;border-radius: 1rem 1rem 0 0;bottom:0; width: 100%;',//自定风格
            //btn:[$('.cancel_par'),$('.confirm_par')],
            skin: 'footer'
        });
        $('.confirm_par,.cancel_par').on('click', function () {
            layer.closeAll();
        });
    });
    $('.mynum').on('click', function () {
        layer.open({
            content: 'xyzy98zexexy',
            btn: ['再参与一次', '确定'],
            yes: function (index) {
            },
            no: function (index) {
                layer.close(index);
            },
        });
    });
	
</script>
</body>
</html>
