<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content=" " />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>芝麻购物</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/idangerous.swiper.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/public.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
</head>

<body>
    <div class="header">
  		<a class="idx_back"></a>
        <span>芝麻购物</span>
    </div>
    <!-- banner -->
    <div class="center">
        <div class="install">
            <div class="installdiv">
            	<span class="install_l"></span>
            	<div class="install_r">
                	<h3>芝麻购物</h3>
                	<div class="install_p">我们基于多年的互联网技术和互联网营销方法论，结合大数据、云计算和区块链，致力于为新一代年轻消费者带来不一样的购物体验和享受。</div>
                </div>
            </div>
            <div class="installdiv">
            	<span class="install_l"></span>
            	<div class="install_r">
                	<h3>平台定位</h3>
                	<div class="install_p">花样购物 不枉年华</div>
                </div>
            </div>
            <div class="installdiv">
            	<span class="install_l"></span>
            	<div class="install_r">
                	<h3>芝麻是什么：<span class="col_grey fz_13">平台通证</span></h3>
                	<div class="install_p"></div>
                </div>
            </div>
            <div class="installdiv">
            	<span class="install_l"></span>
            	<div class="install_r">
                	<h3>芝麻如何获取</h3>
                	<div class="install_p">
                    	<div><a class="install_a">充值</a></div>
                        <div><a class="install_a">邀请好友</a></div>
                        <div><a class="install_a">上传相关活动图片或视频</a></div>
                    </div>
                </div>
            </div>
            <div class="installdiv">
            	<span class="install_l"></span>
            	<div class="install_r">
                	<h3>芝麻用途</h3>
                	<div class="install_p">
                    	<div><a class="install_a">活动凭证</a></div>
                        <div><a class="install_a">购物</a></div>
                    </div>
                </div>
            </div>
        </div>	
    </div>
    
   <!--地址弹窗end-->
<script type="text/javascript">
	$('.switch a').click(function(){
		  $('.switch a').toggleClass('off');
	});
</script>
</body>
</html>
